{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Стань донором!</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <img src="images\logo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="index">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="form">Стать донором</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="why">Процедура сдачи крови</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="maps">Где сдать кровь?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="news">Новости</a>
      </li>
    </ul>
  </div>
</nav>


  <div class="news">
    <div class="newsPhoto">

      <img src="images\banner.jpg">
    </div>
<br>

    <H1>  4 причины, почему быть донором полезно для здоровья</H1>
<br>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1. Организм привыкает к кровопотерям.</h5>
          <p class="card-text">Постоянная сдача крови, помогает организму привык­нуть к кровопотерям. В будущем, если вдруг придется пережить серьезную операцию, ему будет легче справляться с их последствиями.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2. Иммунитет активизируется.</h5>
          <p class="card-text">Наш организм природой запрограммирован на восстановление. Кроме того, в нем система кроветворения и иммунная система тесно связаны. И обе они активизируются, когда происходит незначительная потеря крови. Так что можно говорить о том, что донорство стимулирует защитные силы организма.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card-deck">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">3. Выводится лишнее и опасное.</h5>
          <p class="card-text">Периодически «терять» кровь полезно, когда речь идет о профилактике таких болезней, например, как подагра. Это заболевание возникает из-за того, что в организме накапливаются и откладываются соли мочевой кислоты. Еще одна так называемая болезнь накопления, для профилактики которой полезно сдавать кровь, – атеросклероз, при котором сосуды страдают от холестериновых бляшек, разрушающих их стенки и мешающих нормальному току крови.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">4.Снижается риск инфарктов и инсультов.</h5>
          <p class="card-text">В прошлые века врачи пускали кровь пациентам часто, практически по любому поводу. Если судить с позиции современной медицины, доктор, пускавший пациенту кровь при подозрении на гипертонический криз и грядущий «удар» (так раньше называли инфаркты), был не так уж и не прав. Эта процедура помогала снизить давление и сделать кровь более жидкой, тем самым уменьшив риск инфаркта и инсульта.</p>

        </div>
      </div>
    </div>
<br>
        <H1>Почему важно быть донором?</H1>
        <iframe src="https://www.youtube.com/embed/ot1MC61F4xQ" width="960" height="600"></iframe>
</div>

</body>
</html>
